@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  list-style: square;
}
.marquee li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: yellow; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
} 

.marquee li {
  padding-top: 1rem;
  line-height: 25px;
}
.i-map{
border:0;
overflow-x: hidden;
  
}



@media (min-width: 640px){
.set-h {
    height: 84vh;
}
}


.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    /* opacity: 0; */
    background-color: rgb(27, 247, 27);
    /* color: red; */
  }
  100% {
    /* opacity: 0; */
    background-color: rgb(82, 30, 203);
    /* color: red; */
  }
}